* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.custom-head {
  background-color: #d3d2d4;
  align-items: center;
  display: flex;
  justify-content: center;
}

.custom-media {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 59px;
  line-height: 71px;
  color: #1777f2;
}

.custom-media-motto {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.custom-form {
  border-radius: 24px;
  padding: 23px 18px 29px 25px;
  background-color: #ffffff;
}

button {
  background-color: #1777f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
}

.custom-log-in {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.custom-forget {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1777f2;
  margin-top: 20px;
}

.custom-split {
  height: 1px;
  margin-top: 20px;
  background-color: #a1a0a5;
}

.custom-new-account {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.custom-inputs {
  gap: 12px;
}

.custom-btn {
  background: #44b629;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 187px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
}

.custom-guide {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color: #000000;
}
